<style>
body {  
    background: ##3a2006;
    background-image: url("/images/bg_body1.jpg"), url("/images/bg_body2.jpg");
    background-repeat: repeat-x, repeat;
}
</style>
<div class="container">
<barra-menus></barra-menus>
<h1 class="titulo-pagina">Pedidos</h1>
<h4>
<select ng-model="search.status">
    <option value="0" default>Aguardando</option>
    <option value="1">Entregues</option>
</select>
</h4>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
  

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <h3 class="titulo-tabela">Original</h3>
    </div>      
</div>

          <div class="panel panel-default">
            <table class="table table-hover table-condensed">
    <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Data Pedido</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th class="text-right">Quantidade</th>
        <th class="text-right">Valor Total</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="orderOriginal in ordersOriginal | filter:search">
        <td>
            <button id="{{ orderOriginal.id }}" type="button" class="btn btn-default btn-xs" tooltip-placement="top" tooltip="Entregue" ng-show="!(orderOriginal.status == 1)" ng-click="alteraStatus(orderOriginal)">
                <span class="glyphicon glyphicon-screenshot"></span>
            </button>
        </td>
        <td>
            {{ orderOriginal.order.dataPedido  | date:"dd/MM/yyyy" }}
        </td>
        <td>
            {{ orderOriginal.order.client.nome }}
        </td>
        <td>
            {{ orderOriginal.order.user.nome }}
        </td>
        <td class="text-right">
            {{orderOriginal.quantidade | number:0 }}
        </td>
        <td class="text-right">
            {{ (orderOriginal.valor_unitario * orderOriginal.quantidade) | currency:"R$ " }}
        </td>

                    <td class="text-right">
                        <button id="{{ orderOriginal.id }}" type="button" class="btn btn-default btn-xs" tooltip-placement="top" tooltip="Excluir" ng-click="clearOrder(orderOriginal)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3"><strong>TOTAIS</strong></td>
        <td class="text-right"><strong>{{ getQtdTotalOriginal() }}</strong></td>
        <td class="text-right"><strong>{{ getValorTotalOriginal() | currency:"R$ " }}</strong></td>
        <td>&nbsp;</td>
    </tr>
    </tbody>
</table>
          </div>
    </div>      

    <div class="col-xs-12 col-sm-12 col-md-6">
      

<div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-6">
        <h3 class="titulo-tabela">Trigo</h3>
    </div>      
</div>      <div class="panel panel-default">
            <table class="table table-hover table-condensed">
                <thead>
    <tr>
        <th>&nbsp;</th>
        <th>Data Pedido</th>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th class="text-right">Quantidade</th>
        <th class="text-right">Valor Total</th>
        <th>&nbsp;</th>
    </tr>
                </thead>
                <tbody>
    <tr ng-repeat="orderTrigo in ordersTrigo | filter:search">
        <td>
            <button id="{{ orderTrigo.id }}" type="button" class="btn btn-default btn-xs" tooltip-placement="top" tooltip="Entregue" ng-show="!(orderTrigo.status == 1)" ng-click="alteraStatus(orderTrigo)">
                <span class="glyphicon glyphicon-screenshot"></span>
            </button>
        </td>
        <td>
            {{orderTrigo.order.dataPedido | date:"dd/MM/yyyy" }}
        </td>
        <td>
            {{orderTrigo.order.client.nome}}
        </td>
        <td>
            {{orderTrigo.order.user.nome }}
        </td>
        <td class="text-right">
            {{orderTrigo.quantidade | number:0 }}
        </td>
        <td class="text-right">
            {{ (orderTrigo.valor_unitario * orderTrigo.quantidade) | currency:"R$ " }}
        </td>
                    <td class="text-right">
                        <button id="{{ orderTrigo.id }}" type="button" class="btn btn-default btn-xs" tooltip-placement="top" tooltip="Excluir" ng-click="clearOrder(orderTrigo)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td colspan="3"><strong>TOTAIS</strong></td>
        <td class="text-right"><strong>{{ getQtdTotalTrigo() }}</strong></td>
        <td class="text-right"><strong>{{ getValorTotalTrigo() | currency:"R$ " }}</strong></td>
        <td>&nbsp;</td>
    </tr>
                </tbody>
            </table>
          </div>
    </div>      
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
    <h4 class="totais-pagina">TOTAL GERAL {{ getValorTotalOriginal() + getValorTotalTrigo() | currency:"R$ " }} </h4>
    </div>      
</div>
</div>
